<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos itaque officiis consequatur laudantium facere ab deleniti! Eligendi qui dolore voluptate sint illum ab veritatis ipsum iste neque perspiciatis praesentium architecto maxime et dolor error, laudantium quidem labore, est quaerat id iure dignissimos. Debitis dolore aspernatur enim quo fugiat voluptas, officia quas laboriosam natus reiciendis numquam voluptate delectus itaque asperiores tempore.

    </p>
    <button>click me!</button>
</body>
</html>